[submodule "Lab1"]
	path = Lab1
	url = https://github.com/JohnathonGil/ROS_DUCKIE_EDITION
[submodule "Lab2"]
	path = Lab2
	url = https://github.com/JohnathonGil/ROS_DUCKIE_E2.git
[submodule "Lab3"]
	path = Lab3
	url = https://github.com/marcus65001/c412e3
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/marcus65001/c412e4
[submodule "Lab5"]
	path = Lab5
	url = https://github.com/marcus65001/c412e5
[submodule "Final_Project"]
	path = Final_Project
	url = git@github.com:marcus65001/c412_final.git
